@import "~components/variables"

.Avatar
  position: relative
  display: inline-block
  width: 50px
  height: @width
  border-radius: 50%
  margin-right: 10px
  
  img
    width: @width
    height: @width
