@import "~styles/variables"

.AdminSuffrages
  ul
    display: table

    li
      display: table-row

      span
        display: table-cell
        padding: 2px 4px

        &.slug
          font-family: monospace
          font-size: 14px
          padding-right: 15px
