@import "~styles/variables"

.AdminWorkshops
  position: relative
  width: 100%
  padding: 0 30px

  .Tab
    position: relative

    .left, .right
      position: absolute
    .left
      left: 0
      font-size: 14px
      line-height: 30px
    .right
      right: 0

  form, .preview
    float: left
    width: 50%
    margin: 0

  .preview
    margin-top: -84px
    padding: 0 30px

  h1, h2, h3
    text-align: left
