@import "~styles/variables"

.PaperVotes
  position: relative

  .actions
    text-align: center
    border-bottom: 4px solid $mob-purple
    padding-bottom: 15px

    .Button
      margin: 10px 25px

  h2, h3
    text-align: left

  .Modal
    text-align: center

    .modal-content
      padding: 30px

    .Select
      margin-bottom: 20px
      width: 48%
      display: inline-block
      zIndex("jump")

      &:first-of-type
        margin-right: 4%

    .ErrorMessage
      display: block
      margin: 30px auto
      font-size: 22px
      font-weight: bold
