@import "~styles/variables"

.CheckIn
  position: relative

  .content
    padding: 10px 60px 10px 10px

  .DataTable
    thead
      th.workshops
        padding: 0
    tbody
      td.actions
        padding: 5px
        width: 150px

        .Button
          width: 100%
          padding: 0
