@import "~styles/variables"
@import "~styles/mixins"

+mobile()
  .App
    padding-bottom: 0
    min-height: auto

    .AppContent
      padding: 0
      min-height: auto
      height: auto

    .content
      width: 100%
      padding: 0 20px

      &.white
        min-height: auto
        padding-bottom: 100px

    .narrow-container
      width: 100%
