@import "~styles/variables"

.Dashboard
  position: relative
  width: 100%

  hr
    margin: 40px 0

  h2, h3, h4
    text-align: left

    .tag
      vertical-align: middle
      padding: 0
      width: 30px
      height: @width
      line-height: @height
      border-radius: 50%
      text-align: center

    &.with-actions
      display: flex
      align-items: center
      justify-content: space-between

  .team
    h3
      text-align: center
      font-size: 18px
      color: $orange

    label.checkbox
      text-transform: none
      font-size: 14px
      font-weight: normal
      letter-spacing: initial
      color: $text-grey

  .workshops
    list-style: none

    .workshop
      cursor: pointer
      font-size: 16px
      line-height: 2

      .date
        display: inline-block
        width: 100px
        text-align: right
        margin-right: 15px
      .name
        text-decoration: underline
      .tag
        margin: 0 0 0 15px
        line-height: 1
