@import "~styles/mixins"

+mobile()
  .Drawer
    display: block

    .Drawer-toggle
      width: 48px
      height: 48px
      background: transparent url("~assets/images/hamburger-menu.svg") no-repeat center center

    .Drawer-content
    .Drawer-overlay
      position: fixed
      top: 0
      left: 0

    .Drawer-overlay
      background:rgba(black, 0.8)
      right: 0
      bottom: 0
      opacity: 0
      transition: opacity 150ms ease-in-out
      zIndex("increment")
      pointer-events: none

      &.open
        opacity: 1
        pointer-events: auto

    .Drawer-content
      width: 85vw
      height: 100vh
      background: white
      transform: translate3d(-85vw, 0, 0)
      transition: transform 150ms ease-in-out
      zIndex("increment")

      &.open
        transform: translate3d(0, 0, 0)

      .Drawer-content-header
        height: 140px
        background: $purple-dark
        padding: 40px 30px

        h1
          margin: 0
          text-align: left

      .Drawer-content-scrollable
        height: calc(100vh - 140px)
        overflow-y: auto

      .AccountSettings
        // margin-right: 0
        padding: 0 30px

