@import "~styles/mixins"

+mobile()
  .Footer
    position: relative
    height: auto

    .FooterTop
      height: auto

      .content
        display: block

      h1
        font-size: 22px

      p
        img
          display: none
        span
          width: auto

    .FooterSection
      margin-bottom: 30px

    .FooterSection.columns
      padding-bottom: 20px
      margin-bottom: 0

      .FooterSectionColumn
        h3
          font-size: 18px

        &:first-of-type
          display: none
