.footer {
  grid-area: ft;

  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  grid-template-rows: 190px 100px 100px;
  background: var(--white);

  @include slopedBackground(var(--black), $topLeft: 60px);

  a, p { font-size: 1rem; }

  @include mobile() {
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 125px repeat(4, auto);
    grid-row-gap: 36px;
  }
}

.footer__logo {
  @include squareWithBg(167px);

  position: absolute;
  top: 0;
  left: 64px;
  background: transparent url("~assets/images/logo-round.svg") no-repeat center center;

  @include desktopNarrow() {
    left: 32px;
  }

  @include mobile {
    left: 16px;
    @include squareWithBg(100px);
  }
}

.footer {
  &__resources, &__social, &__copyright, &__newsletter { align-self: start; }
  &__social, &__newsletter { justify-self: end; }

  &__resources  { grid-row: 2; grid-column: 2 / -4; }
  &__social     { grid-row: 2; grid-column: 10 / -2; }
  &__copyright  { grid-row: 3; grid-column: 2 / -6; }
  &__newsletter { grid-row: 3; grid-column: 8 / -2; }

  @include mobile() {
    &__resources  { grid-row: 2; grid-column: 2; }
    &__social     { grid-row: 3; grid-column: 2; }
    &__copyright  { grid-row: 4; grid-column: 2; }
    &__newsletter { grid-row: 5; grid-column: 2; }
    &__social, &__newsletter { justify-self: start; }
  }

  &__copyright > * {
    display: inline-block;
    margin-right: 16px;
  }

  &__social ul.list.list--horizontal li {
    margin-right: 16px;
    &:last-child { margin-right: 0; }
  }
}
