@import "~styles/variables"

.Footer
  position: absolute
  bottom: 0
  left: 0
  height: $footer-height
  width: 100vw

  .FooterTop
    height: 100%
    padding-top: 40px
    background: $purple-muted
    color: white

    a, a:link, a:active, a:visited
      display: block
      width: 80%
      margin-bottom: 10px
      color: white
      font: normal normal 400 16px Asap, sans-serif
      text-decoration: none

    a:hover
      text-decoration: underline

    .content
      display: flex
      justify-content: center
      align-items: flex-start

    h3
      text-align: left
      margin: 0 0 15px
      text-transform: uppercase
      padding-top: 4px

    p
      font: normal normal 400 16px/24px Asap, sans-serif
      max-width: 460px
      margin: 0 0 15px
      color: white

      img
        vertical-align: top
        margin-right: 15px
        float: left

      span
        width: 380px
        display: inline-block

      a, a:link, a:visited, a:active, a:hover
        display: inline
        text-decoration: underline

  .FooterSection
    flex-basis: 0
    flex-grow: 1

    &.columns
      display: flex
      justify-content: center
      align-items: flex-start

    .FooterSectionColumn
      flex-basis: 0
      flex-grow: 1

      &.wide
        flex-grow: 1.5

      &.with-icons
        a
          position: relative
          padding-left: 30px

          img
            position: absolute
            top: 1px
            left: 0


