@import "~styles/variables"

.Landing
  position: relative
  width: 100%
  background: $purple-dark

  .content
    padding: 90px 170px

    h1, h2, h3
      text-align: left
      font: normal normal 600 24px/1 Poppins, sans-serif
      color: white
    h1
      font-size: 62px
    h2
      color: $orange
      text-transform: uppercase

    h2, p, ul, a
      margin-left: 40px

    p, ul
      color: white
      font-size: 18px

    a, a:link, a:active, a:visited
      color: $cyan
    a:hover
      color: $cyan-dark

  //---------------------------------------------------------------------------- Hero
  .LandingHero
    position: relative
    height: 560px
    background: linear-gradient(45deg, #f973ac 20%, #fce272 80%)

    .content
      background: url($asset-host + "/images/landing-horses@2x.png") no-repeat bottom -582px right
      background-size: 75%
      height: 100%
      padding: 70px 170px 0 70px

      h1, h2, h3, a
        margin-left: 0
      h2
        color: $purple-bright
      h3
        line-height: 1.3
      h2, h3
        margin: 20px 0 30px
      a, a:link, a:active, a:visited
        color: white
      a:hover
        color: white

  //---------------------------------------------------------------------------- Global sections styling
  section
    position: relative

    .content
      position: relative
      zIndex("increment")

      p.small-notice
        color: rgba(white, 0.7)

      ul
        list-style: disc
        padding-left: 20px

      .prizes
        list-style: none

        .prize
          h3, h4, p
            text-align: left

          h3
            text-transform: uppercase

          h4
            color: $orange
            font-weight: bold

          p
            padding: 0
            margin: 0


  //---------------------------------------------------------------------------- Hackathon
  section#hackathon
    .content
      background: url($asset-host + "/images/landing-horses@2x.png") no-repeat top -324px right
      background-size: 75%
      padding: 200px 90px 0 630px

      h2 .tag
        display: inline-block
        font-size: 22px
        border: none
        padding: 10px

      &:before, &:after
        content: ""
        position: absolute
        display: block
        width: 490px
        height: 350px
        box-shadow: 7px 7px 20px 5px rgba(black, 0.2)
        zIndex("base")

      &:before
        left: 170px
        top: 70px
        background: $pink

      &:after
        left: 120px
        top: 120px
        background: url($asset-host + "/images/landing-hackathon@2x.jpg") no-repeat center center
        background-size: cover

      > *
        position: relative
        zIndex("increment")

      p:last-of-type
        margin-bottom: 60px

      .Button:hover
        color: $purple-dark

  //---------------------------------------------------------------------------- Prizes
  section#prizes
    .content
      padding: 30px 70px 100px

      h1, h2
        display: none

      .prizes
        margin-top: 100px
        display: flex
        align-items: top
        justify-content: space-between

        .prize
          display: inline-block
          width: 28%
          text-align: center

          img
            height: 250px

  //---------------------------------------------------------------------------- Workshops
  section#workshops
    .content
      padding-left: 70px

      &:before, &:after
        content: ""
        position: absolute
        display: block
        width: 480px
        height: 220px
        box-shadow: 7px 7px 20px 5px rgba(black, 0.2)
        zIndex("base")

      &:before
        right: 0
        top: 140px
        background: $yellow
      &:after
        right: 40px
        top: 100px
        width: 520px
        background: url($asset-host + "/images/landing-workshops@2x.jpg") center center
        background-size: cover

      p
        max-width: 560px

      .workshops
        list-style: none
        margin-top: 160px
        display: flex
        flex-wrap: wrap
        padding: 0
        align-items: stretch
        justify-content: space-around

        .workshop
          flex-basis: calc(33% - 30px)
          margin: 15px
          padding: 30px
          display: flex
          flex-direction: column
          align-items: center
          cursor: pointer
          border-radius: 10px

          &:hover
            background: rgba(white, 0.1)

          img
            margin-bottom: 20px
            height: 120px

          span
            display: block
            margin: 10px 0
            text-transform: uppercase
            text-align: center

          .date
            color: $orange
          .name
            font-size: 18px
            margin-bottom: 20px
          .speaker
            font-size: 14px
            color: $mob-green
            margin-top: auto

  //--------------------------------------------------------------------------- Talks
  section#g2pt
    .content
      padding-top: 60px
      padding-left: 550px

      &:before, &:after
        content: ""
        position: absolute
        display: block
        width: 420px
        height: 280px
        box-shadow: 7px 7px 20px 5px rgba(black, 0.2)
        zIndex("base")
      &:before
        left: 140px
        top: 60px
        background: $mob-purple
      &:after
        left: 100px
        top: 100px
        background: #ff5520 url($asset-host + "/images/talks/geek-girls.png") center center

      h1, h2
        text-align: right

      h1
        a, a:link, a:active, a:visited, a:hover
          margin-left: 0
          color: white

      h2
        span
          font-size: 14px
          color: white
        a, a:link, a:active, a:visited, a:hover
          margin-left: 0
          color: white

      .talks
        margin-top: 50px
        list-style: none
        display: flex
        justify-content: space-between

        .talk
          flex-basis: 45%
          display: flex
          flex-direction: column
          align-items: stretch

          img
            width: 100%
            margin-bottom: 20px

          .title, .speaker, .date
            display: block
            margin-bottom: 20px
          .date
            color: $orange
            text-transform: uppercase
          .title
            font-size: 22px
          .description
            font-size: 15px
            line-height: 1.3
            margin-bottom: 20px
          .speaker
            margin-top: auto
            color: $mob-green
            cursor: pointer

  //---------------------------------------------------------------------------- AI Competition
  section#ai-competition
    .content
      min-height: 500px
      padding-right: 100px
      padding-left: 130px

      .Button
        margin-top: 30px

        &:hover
          color: $purple-dark

      &:before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 580px
        height: 720px
        background: url($asset-host + "/images/landing-lion@2x.png") no-repeat bottom left
        background-size: cover
        zIndex("base")

      .prizes
        margin-top: 100px
        margin-left: 460px

        .prize
          display: flex
          align-items: flex-start
          justify-content: flex-start

          h4
            font-size: 16px
            > *
              margin-bottom: 5px

          img
            width: 200px
            margin-right: 30px

  //---------------------------------------------------------------------------- Separator
  section#separator
    position: relative
    background: #1f1338 url($asset-host + "/images/landing-separator-exes-section.svg") no-repeat top left
    height: 410px

    .content
      height: 100%
      background: transparent url($asset-host + "/images/landing-separator-exes-content.svg") no-repeat top left

      h1
        display: inline-block
        position: absolute
        right: 20px
        bottom: -25px
        margin: 0
        font-size: 72px
        letter-spacing: 1px
        color: $purple-dark

  //---------------------------------------------------------------------------- Previous Edition
  section#location
    .content
      padding-left: 60px
      padding-bottom: 140px

      p.small-notice
        text-align: left

      h1
        display: relative
      h2
        display: relative
        margin: 60px 0 30px
        line-height: 1.2

      a, a:link, a:active, a:visited
        margin: 0
        padding: 0
        color: $orange

        &.apply
          display: inline-block
          margin: 40px 0 0 90px

      a:hover
        color: $orange

      .Button:hover
        color: $purple-dark

      .video
        position: absolute
        top: 110px
        right: 30px
        width: 560px
        height: 315px
        box-shadow: 7px 7px 20px 5px rgba(black, 0.2)

        &:before
          content: ""
          position: absolute
          display: block
          width: 100%
          height: 100%
          top: -40px
          left: -40px
          background: $purple-bright
          // zIndex("base")

        iframe
          position: relative
          // zIndex("increment")

  //---------------------------------------------------------------------------- Community
  section#community
    .gradient-bg
      position: absolute
      left: 0
      top: 40px
      bottom: 0
      right: 0
      // right: calc((100% - 1280px) / 2)
      background: linear-gradient(135deg, $orange 0, $orange 30%, lighten($orange, 20%) 100%)

      &:before, &:after
        content: ""
        position: absolute

      &:before
        top: 0
        left: calc((100% - 1280px) / 2)
        right: 0
        height: 225px
        background:
          url($asset-host + "/images/landing-community-cutout.svg") no-repeat 0 0,
          linear-gradient(to right, transparent 220px, $purple-dark 221px, $purple-dark 100%)

      &:after
        top: -30px
        left: calc((100% - 1280px) / 2 + 50px)
        // right: $content-width - 110px
        width: 75px
        height: @width
        background: $orange

    .content
      padding: 40px 170px 70px

      a, a:link, a:active, a:visited
        margin: 0
        color: $purple-dark

      h1
        text-align: right
        margin-top: 60px
        margin-bottom: 100px
      p
        max-width: 600px
        margin: 0 auto
        text-align: center
        color: $purple-dark
        font-size: 20px

      form
        max-width: 700px
        margin: 40px auto 0

        input
          background: transparent
          color: white
          border-color: white
          outline: none
          font-size: 18px
          padding: 18px 15px
          transition: background-color 150ms ease-in-out

          &:focus
            background: white
            color: black // $orange

          &::placeholder
            color: white

        .Button
          width: 48.5%
          font-size: 18px
          padding: 0

          &:first-of-type
            margin-right: 3%

          img
            vertical-align: sub
            margin-left: 10px

  //---------------------------------------------------------------------------- Team separator
  section#team-separator
    margin: 100px 0 40px

    .content
      height: 390px

      &:before
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: url($asset-host + "/images/landing-team-separator@2x.jpg") no-repeat center center
        background-size: cover

      h1
        position: absolute
        top: -43px
        right: -10px
        text-align: right
        font-size: 72px
        letter-spacing: 2px
        color: rgba($purple-dark, 0.8)
        filter: none

  //---------------------------------------------------------------------------- MoB Sessions
  section#sessions
    .content
      position: relative
      display: grid
      grid-gap: 10px
      grid-template-columns: 500px 1fr
      grid-template-areas: "left right"
      padding-left: 0
      padding-right: 0
      padding-bottom: 0

      .description
        grid-area: left
        z-index: 10

        h3, p
          a
            margin-left: 0

      ul.programme
        z-index: 1
        grid-area: right
        list-style: none
        padding: 104px 0 0

        li
          margin-bottom: 60px

          &.left
            width: 200%
            transform: translateX(-50%)

            header
              border-radius: 0 10px 10px 0
              background-image: linear-gradient(-90deg, #c7006a 0%, rgba(#b6aee4, 0) 100%)

              h1, h2
                text-align: right

              .Button
                right: 50px

            .details
              transform: translateX(100%)
              width: 50%

          header
            position: relative
            padding: 20px 40px 40px
            min-height: 145px
            border-radius: 10px 0 0 10px
            background-image: linear-gradient(90deg, #c7006a 0%, rgba(#b6aee4, 0) 100%)

            .Button
              position: absolute
              width: 280px

            h1, h2
              margin: 10px auto

            h1
              color: #62d2de
              font-size: 32px
              text-transform: uppercase

            h2
              color: white
              margin-left: 0
              margin-bottom: 25px

          .details
            margin-top: 40px
            transition: max-height 300ms ease-in-out
            overflow: hidden

            &.msCrypto
              max-height: 540px
            &.msGeekGirls
              max-height: 360px

            h3
              color: $orange

              &:before
                content: "—"
                color: $yellow
                margin-right: 20px

            a, a:link, a:active, a:visited, a:hover
              color: $orange
              margin-left: 0

            &.collapsed
              max-height: 0

            p
              position: relative
              line-height: 1.6

              &.speaker
                padding-left: 185px
                min-height: 155px

              img
                left: 0
                top: 7px
                position: absolute
                width: 155px


  //---------------------------------------------------------------------------- News
  section#news
    .content
      display: flex
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-between

      >  *
        flex-basis: calc(50% - 20px)
        margin: 20px 0

      h1
        flex-basis: 100%

      .news-box
        border: 1px solid $purple-bright
        padding: 20px
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start

        .image, h3, p
          width: 100%

        .image
          height: 250px
          background-color: $purple-bright
          background-size: cover

          &.empty
            background: $purple-bright url($asset-host + "/images/mob-logo-white.svg") no-repeat center center !important

        h3
          color: $orange
          min-height: 48px

        p
          margin-left: 0

          &:last-of-type
            padding-bottom: 20px

        > a
          margin-left: 0
          margin-top: auto

          &:hover .Button
            color: $purple-dark

  //---------------------------------------------------------------------------- Sponsors
  section#sponsors
    margin-bottom: 200px

    .content
      a
        margin: 0

      h1, h2
        text-align: center
        margin-left: 0

      .sponsors
        position: relative
        padding-bottom: 40px
        text-align: center
        background-image: linear-gradient(180deg, #d2d4ff 0%, #b6aee4 100%)
        box-shadow: 0 30px 16px 0 rgba(black, 0.1)

        &:after
          content: ""
          position: absolute
          width: 330px
          height: 330px
          background: url($asset-host + "/images/landing-sponsors.svg") no-repeat top left
          top: 100%
          right: -39px

        .Button
          margin-top: 40px

        .sponsor-list
          margin: 0 auto
          padding: 30px 0
          list-style: none
          text-align: center

          li
            display: inline-block
            width: calc(20% - 60px)
            margin: 20px 30px
            text-align: center

            a
              margin: 0
              width: 130px

              img
                width: 100%
                vertical-align: middle

.sponsor-tooltip
  max-width: 500px
  font-size: 16px
  padding: 20px 25px
  line-height: 1.4
  pointer-events: auto
  opacity: 1
  background: rgba(black, 0.95)

  a, a:link, a:active, a:visited
    cursor: pointer
    color: $mob-green

  a:hover
    color: darken($mob-green, 20%)
