@import "~styles/variables"

.NotificationCenter
  position: relative

  .Notifications
    list-style: none
    padding: 10px
    width: 350px
    background: white
    border: 1px solid $light-grey
    border-radius: 3px

    .Notification
      padding: 5px
      border-bottom: 1px solid $light-grey
      color: $text-grey

      &:last-child
        border: none

      .title
        color: $dark-grey
        text-transform: uppercase
        font-size: 10px
        margin-bottom: 10px

      .message
        font-size: 12px
