@import "~styles/variables"

.NotificationCenter
  position: relative

  .Notifications
    list-style: none
    width: 100%
    background: white

    .Notification
      padding: 5px
      border: 1px solid $light-grey
      border-radius: 3px
      padding: 15px 20px
      margin-bottom: 10px

      .title
        display: none
        color: $dark-grey
        text-transform: uppercase
        margin-bottom: 10px

      .message
        padding: 0
        margin: 0
        line-height: 1.5
