@import "~styles/variables"

.ParticipationCertificate
  position: relative
  max-width: 660px
  margin: 100px auto

  .logo
    text-align: center

    img
      height: 60px

  p
    color: $text-grey

    &.date
      text-align: right

    img
      display: block
      margin: 10px 0

  ul
    font-size: 16px
    color: $text-grey

  #barcode
    margin-top: 100px
    max-width: 450px
    float: right
