.prize-gallery {
  position: relative;
  max-width: 945px;
  margin: 0 auto 30px;

  @include mobile {
    height: auto;
    margin: 0 -16px;
  }
}

.prize-gallery__prev,
.prize-gallery__next {
  position: absolute;
  top: 150px;
  z-index: z-index("prize-navigation");

  @include mobile { display: none; }
}
.prize-gallery__prev { left: -20px; transform: rotate(180deg); }
.prize-gallery__next { right: -20px; }

.prize-gallery__prizes {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 360px;
}

.prize-gallery__prize {
  position: absolute;
  top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  z-index: z-index("base");
  transform: translateX(calc(var(--pos) * 100%)) scale(1);
  transition: transform 300ms ease-in-out;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 360px auto;
  grid-template-areas: "i d";

  @include mobile {
    $padding: 60px;

    left: $padding;
    width: calc(100vw - #{$padding * 2});
    height: auto;
    grid-template-rows: 220px auto;
    grid-template-columns: auto; // calc(100vw - 120px);
    grid-template-areas:
      "i"
      "d";
    z-index: z-index("base");
    transform: translateX(calc(var(--pos, 0) * 75%)) scale(.85);

    &--current {
      z-index: z-index("default");
      box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
      transform: translateX(calc(var(--pos) * 75%)) scale(1);
    }
  }

  img { @extend %cover-image; }
}


.prize-gallery__prize__image {
  grid-area: i;
}
.prize-gallery__prize__description {
  grid-area: d;
  padding: 40px;
  background: var(--linen);
  text-align: left;
}

.prize-gallery__navigation {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    display: none;
  }
}

.prize-gallery__navigation__item {
  position: relative;
  width: 140px;
  margin: 0 16px;
  cursor: pointer;

  img {
    @extend %cover-image;
    height: 130px;
  }

  hr {
    border: 2px solid var(--white);
    margin: 24px 0 16px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    transition: opacity 300ms ease-in-out;
  }

  &--current {
    hr { border-color: var(--electric-indigo) }
    &:after { opacity: 0; }
  }
}
