@import "~styles/mixins"

$border-width = 5px

+tablet()
  .DataTable
    margin-top: 15px

    .search, .search-bar
      height: 45px

    .search
      display: none

    .search-bar
      position: relative
      left: $border-width
      width: "calc(100% - %s)" % ($border-width * 2)

      input
        font-size: 16px

    table
      width: 100%

      td
        padding: 5px 10px

        &.desktop
          display: none
        &.mobile
          display: table-cell

        .sort-controls, .filter-controls
          button
            padding: 3px 2px
            margin-left: 3px
