@import "~styles/variables"

.SortableList
  position: relative

.SortableList ul li,
.SortableListItem
  list-style: none
  padding: 15px 35px 15px 15px
  color: white
  background: $dark-grey
  font-size: 18px
  margin-bottom: 5px
  border-radius: 5px
