@import "~styles/variables"

.ErrorMessage
  display: none
  position: relative
  color: $red
  font-size: 14px
  text-indent: 11px

  &.visible
    display: inline-block
    padding: 3px 0 10px

  &.left, &.right
    width: 50%

  &.right
    text-indent: 10px
