.email--sender
  display: inline-block
  margin-right: 10px

  select
    font: normal normal 400 14px Asap, sans-serif
    font-size: 14px
    color: $text-grey
    display: inline-block
    height: 26px
    margin-right: 3px
    border: 1px solid $light-grey
    background: none
    border-radius: 3px
    text-indent: 6px
    vertical-align: bottom
    outline: none
