@import "~styles/variables.styl"

.UserChrome
  position: relative
  background: white
  box-shadow: 0 0 6px 2px rgba(black, 0.2)

  .content
    display: flex
    justify-content: space-between

  .UserChrome-left, .UserChrome-right
    min-height: 300px
    padding: 50px 0

  .UserChrome-left
    width: 300px
    border-right: 1px solid $light-grey
  .UserChrome-right
    width: calc(100% - 300px)
    padding-left: 50px

    > *
      margin: 0 auto
