@import "~styles/mixins"

+mobile()
  .Workshop
    padding-top: 5px

    .banner
      height: 90px

    .actions
      padding-bottom: 30px

      .Button, p
        width: 90%
        margin: 0 auto

      p
        margin-top: 10px
        font-size: 12px
        line-height: 1.2

        span
          display: block

