@import "~styles/variables"

.Workshop
  position: relative

  .banner
    height: 160px
    background-size: cover
    background-position: center center

  h1, h2, h3, h4, h5, h6, p
    text-align: left

  .attending-badge
    display: inline-block
    margin-left: 10px
    padding: 5px 10px
    font-size: 16px
    background: $orange
    color: white
    border-radius: 5px
    vertical-align: text-bottom


  .actions
    margin-top: 50px

    &.hidden, .hidden
      display: none

    .Button
      width: 70%

    p
      font-size: 14px
      color: $label-grey
      text-align: center
      margin: 10px 0

      &.notice
        max-width: 80%
        margin: 0 auto
        text-align: left

    label
      max-width: 80%
      margin: 10px auto

  ul
    list-style: disc
    padding-left: 17px

    li
      font-size: 16px
      color: $text-grey
