.section-ai-competition {
  background: url("~assets/images/bg-ai-competition.svg") no-repeat right 100px top 100px;
  padding-right: 450px;

  @include mobile {
    background: none;
    padding-right: $section-padding--mobile;

    h1 {
      background: url("~assets/images/bg-ai-competition.svg") no-repeat right center;
      background-size: 120px;
      padding-right: 120px;
    }

    button {
      margin-right: 16px;
      padding: initial 16px;
    }
  }

  @include tablet {
    background: url("~assets/images/bg-ai-competition.svg") no-repeat right 100px top 100px;
    background-size: 160px;
    background-position: right 50px top 50px;

    h1, p {
      background: none;
      padding-right: 210px;
    }
  }
}

.section-ai-competition-prizes {
  background: url("~assets/images/bg-ai-competition-prizes.svg") no-repeat center center;
}

.ai-competition-prizes {
  display: flex;
  align-items: stretch;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.ai-competition-prize {
  position: relative;
  flex: 0 0 300px;
  margin: 0 16px;
  background: var(--linen);

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }

  img {
    @extend %cover-image;
    max-width: 100%;
    height: 216px;
  }

  .tag {
    position: absolute;
    top: 195px;
    left: 64px;
    right: 64px;
  }

  @include mobile {
    flex: 0 0 100%;
    margin: 16px 0;


  }
}

.ai-competition-prize__description {
  // min-height: 300px;
  margin-top: -3px;
  padding: 50px 25px 25px;
}

.ai-competition-prize__details {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.ai-competition-prize__detail {
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;

  &:before {
    content: "\200B"; // zero-width space, accessibility
    display: inline-block;
    flex: 0 0 13px;
    width: 13px;
    height: 1.375rem; // 22px
    background: transparent url("~assets/images/checkmark.svg") no-repeat center bottom;
    margin-right: 10px;
  }
}
