@import "~components/variables"

.AdminUsers
  position: relative

  .tools
    padding: 20px 0
    border-bottom: 5px solid $mob-purple

  td
    &.social img
      margin-right: 10px
      height: 20px

    .Button
      display: block
      margin-bottom: 2px

  pre
    background: #eee
    padding: 10px
