@import "~components/variables"

.AdminUsers
  position: relative

  .tools
    padding: 20px 0
    border-bottom: 5px solid $mob-purple

    h3
      display: inline-block
      margin-right: 20px

    .Button
      margin-right: 10px

  td
    &.social img
      margin-right: 10px
      height: 20px

    .Button
      display: block
      margin-bottom: 2px

  pre
    background: #eee
    padding: 10px
