{
  "env": {
    "browser": true
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "rules": {
    "comma-dangle": [ "error", "always-multiline" ],
    "no-mixed-operators": "error",
    "quotes": [ "error", "double" ],
    "semi": [ "error", "always" ],

    "react/prop-types": "off"
  }
}
