@import "~components/variables"

.Landing
  position: relative
  width: 100%
  background: $purple-dark

  .content
    padding: 90px 170px

    h1, h2, h3
      text-align: left
      font: normal normal 600 24px/1 Poppins, sans-serif
      color: white
    h1
      font-size: 62px
    h2
      color: $orange
      text-transform: uppercase

    h2, p, ul, a
      margin-left: 40px

    p, ul
      color: white
      font-size: 18px

    a, a:link, a:active, a:visited
      color: $cyan
    a:hover
      color: $cyan-dark

  //---------------------------------------------------------------------------- Hero
  .LandingHero
    position: relative
    height: 560px
    background: linear-gradient(45deg, #f973ac 20%, #fce272 80%)

    .content
      background: url("~assets/images/landing-horses@2x.png") no-repeat bottom -582px right
      background-size: 75%
      height: 100%
      padding: 70px 170px 0 70px

      h1, h2, h3, a
        margin-left: 0
      h2
        color: $purple-bright
      h2, h3
        margin: 20px 0 30px

  //---------------------------------------------------------------------------- Global sections styling
  section
    position: relative

    &:last-of-type
      zIndex("base")

      .content
        min-height: 500px

      .content:before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 580px
        height: 720px
        background: url("~assets/images/landing-lion@2x.png") no-repeat bottom left
        background-size: cover
        zIndex("base")

    .content
      position: relative
      zIndex("increment")

      p.small-notice
        color: rgba(white, 0.7)

      ul
        list-style: disc
        padding-left: 20px

  //---------------------------------------------------------------------------- Hackathon
  section#hackathon
    .content
      background: url("~assets/images/landing-horses@2x.png") no-repeat top -324px right
      background-size: 75%
      padding: 200px 90px 90px 630px

      &:before, &:after
        content: ""
        position: absolute
        display: block
        width: 490px
        height: 350px
        box-shadow: 7px 7px 20px 5px rgba(black, 0.2)
        zIndex("base")

      &:before
        left: 170px
        top: 70px
        background: $pink

      &:after
        left: 120px
        top: 120px
        background: url("~assets/images/landing-hackathon@2x.jpg") no-repeat center center
        background-size: cover

      > *
        position: relative
        zIndex("increment")

      p:last-of-type
        margin-bottom: 60px

      .Button:hover
        color: $purple-dark

  //---------------------------------------------------------------------------- Workshops
  section#workshops
    .content
      padding-left: 70px

      &:before, &:after
        content: ""
        position: absolute
        display: block
        width: 480px
        height: 220px
        box-shadow: 7px 7px 20px 5px rgba(black, 0.2)
        zIndex("base")

      &:before
        right: 0
        top: 140px
        background: $yellow
      &:after
        right: 40px
        top: 100px
        width: 520px
        background: url("~assets/images/landing-workshops@2x.jpg") center center
        background-size: cover

      p
        max-width: 560px

  //---------------------------------------------------------------------------- Separator
  section#separator
    position: relative
    background: #1f1338 url("~assets/images/landing-separator-exes-section.svg") no-repeat top left
    height: 410px
    
    .content
      height: 100%
      background: transparent url("~assets/images/landing-separator-exes-content.svg") no-repeat top left

      h1
        display: inline-block
        position: absolute
        right: 20px
        bottom: -25px
        margin: 0
        font-size: 72px
        letter-spacing: 1px
        color: $purple-dark

  //---------------------------------------------------------------------------- Previous Edition
  section#previous-edition
    .content
      padding-left: 60px
      padding-bottom: 140px

      p.small-notice
        text-align: left

      h1
        display: relative
      h2
        display: relative
        margin-bottom: 60px
        margin-top: 30px

      .Button:hover
          color: $purple-dark

      .video
        position: absolute
        top: 110px
        right: 30px
        width: 560px
        height: 315px
        box-shadow: 7px 7px 20px 5px rgba(black, 0.2)

        &:before
          content: ""
          position: absolute
          display: block
          width: 100%
          height: 100%
          top: -40px
          left: -40px
          background: $purple-bright
          // zIndex("base")

        iframe
          position: relative
          // zIndex("increment")

  //---------------------------------------------------------------------------- Community
  section#community
    .gradient-bg
      position: absolute
      left: 0
      top: 40px
      bottom: 0
      right: 0
      // right: calc((100% - 1280px) / 2)
      background: linear-gradient(135deg, $orange 0, $orange 30%, lighten($orange, 20%) 100%)

      &:before, &:after
        content: ""
        position: absolute

      &:before
        top: 0
        left: calc((100% - 1280px) / 2)
        right: 0
        height: 225px
        background:
          url("~assets/images/landing-community-cutout.svg") no-repeat 0 0,
          linear-gradient(to right, transparent 220px, $purple-dark 221px, $purple-dark 100%)

      &:after
        top: -30px
        left: calc((100% - 1280px) / 2 + 50px)
        // right: $content-width - 110px
        width: 75px
        height: @width
        background: $orange

    .content
      padding: 40px 170px 70px

      a, a:link, a:active, a:visited
        margin: 0
        color: $purple-dark

      h1
        text-align: right
        margin-top: 60px
        margin-bottom: 100px
      p
        max-width: 600px
        margin: 0 auto
        text-align: center
        color: $purple-dark
        font-size: 20px

      form
        max-width: 700px
        margin: 40px auto 0

        input
          background: transparent
          color: white
          border-color: white
          outline: none
          font-size: 18px
          padding: 18px 15px
          transition: background-color 150ms ease-in-out

          &:focus
            background: white
            color: black // $orange

          &::placeholder
            color: white

        .Button
          width: 48.5%
          font-size: 18px
          padding: 0

          &:first-of-type
            margin-right: 3%

          img
            vertical-align: sub
            margin-left: 10px

  //---------------------------------------------------------------------------- Team separator
  section#team-separator
    margin: 100px 0 40px

    .content
      height: 390px

      &:before
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: url("~assets/images/landing-team-separator@2x.jpg") no-repeat center center
        background-size: cover

      h1
        position: absolute
        top: -43px
        right: -10px
        text-align: right
        font-size: 72px
        letter-spacing: 2px
        color: rgba($purple-dark, 0.8)
        filter: none


  //---------------------------------------------------------------------------- News
  section#news
    .content
      display: flex
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-between

      >  *
        flex-basis: calc(50% - 20px)
        margin: 20px 0

      h1
        flex-basis: 100%

      .news-box
        border: 1px solid $purple-bright
        padding: 20px
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start

        .image, h3, p
          width: 100%

        .image
          height: 250px
          background-color: $purple-bright
          background-size: cover

        h3
          color: $orange
          min-height: 48px

        p
          margin-left: 0

          &:last-of-type
            padding-bottom: 20px

        > a
          margin-left: 0
          margin-top: auto

          &:hover .Button
            color: $purple-dark

  //---------------------------------------------------------------------------- Sponsors
  section#sponsors
    .content
      a
        margin: 0

      h1, h2
        text-align: center
        margin-left: 0

      .sponsors
        position: relative
        padding-bottom: 40px
        text-align: center
        background-image: linear-gradient(180deg, #d2d4ff 0%, #967fc9 100%)
        box-shadow: 0 30px 16px 0 rgba(black, 0.1)

        &:after
          content: ""
          position: absolute
          width: 330px
          height: 330px
          background: url("~assets/images/landing-sponsors.svg") no-repeat top left
          top: 100%
          right: -39px

        .Button
          margin-top: 40px

        .sponsor-list
          margin: 60px auto 0
          padding: 30px 0
          list-style: none
          text-align: center

          li
            display: inline-block
            width: calc(25% - 90px)
            margin: 20px 35px
            text-align: center

            a
              margin: 0
              width: 130px

              img
                width: 100%
                vertical-align: middle

  //---------------------------------------------------------------------------- MoB Sessions
  section#mob-sessions
    position: relative // remove

  //---------------------------------------------------------------------------- AI Competition
  section#ai-competition
    position: relative // remove
