@import "~components/variables"
@import "~components/mixins"

+mobile-small()
  .Landing
    section
      .content
        h1
          font-size: 28px

+mobile()
  .Landing
    width: 100%

    a.signup
      display: block
      width: 100%
      margin: 50px auto 0

      .Button
        width: 100%
        padding: 0

    .LandingHero
      height: auto

      .content
        padding-bottom: 70px

      .open-until
        margin: 10px 0
        display: block
        text-align: center

      h1
        font-size: 24px
      h2
        font-size: 20px
      h3
        display: none

    .LandingSections
      display: none

    section
      padding-top: 20px
      margin-bottom: 30px

      h1
        font-size: 36px

      h2
        font-size: 18px

      p
        width: auto

      //--------------------------------------------------------------- Hackathon
      &#hackathon
        .image
          display: none

        a.signup
          margin: 0 auto

      //--------------------------------------------------------------- Workshops
      &#workshops
        h1, h2, p
          text-align: left
        p
          width: auto

        .workshops
          .workshop
            width: 100%
            border: 1px solid $light-grey !important
            border-bottom: none !important
            padding: 0 20px
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center

            &:last-child
              border-bottom: 1px solid $light-grey !important

      //--------------------------------------------------------------- Schedule
      &#schedule-section
        .content
          background-size: 90%
          background-position: center center

        .image
          display: none

        h1, h2
          text-indent: 0

        .day
          padding-left: 0

          dl
            width: 100%

      //--------------------------------------------------------------- Join Event
      &#join-event
        display: none

      //--------------------------------------------------------------- Join Slack
      &#join-slack
        .content
          width: 90%
          padding-left: 10px
          padding-right: 10px

      //--------------------------------------------------------------- Prizes
      &#prizes
        .content
          padding-bottom: 0

          .separator
            display: none

          .prizes
            margin: 0 auto 20px
            flex-wrap: wrap

            .prize
              width: 100%
              margin-top: 30px

              img
                width: 60%

      //--------------------------------------------------------------- Sponsors
      &#sponsors
        .content
          width: 90%
          padding: 0

        .image
          display: none

        ul
          li
            // tier 1
            &:nth-child(-n + 3)
              width: 45%
              margin: 30px 0 0
            &:nth-child(2)
              margin-left: 10%
            &:nth-child(3)
              margin: 30px 27.5% 0

            // tier 2
            &:nth-child(n + 4):nth-child(-n + 5)
              width: 45%
              margin: 80px 0
            &:nth-child(5)
              margin-left: 10% !important
              margin-right: 0

            // tier 3
            &:nth-child(n+6):nth-child(-n + 9)
              width: 45%
              margin: 0
            &:nth-child(6), &:nth-child(7)
              margin-bottom: 10px !important
            &:nth-child(7), &:nth-child(9)
              margin-left: 10% !important

            // tier 4
            &:nth-last-child(-n + 3)
              width: 45%
              margin: 80px 0 0
            &:nth-last-child(2)
              margin-left: 10% !important
            &:last-child
              margin: 20px 0 0 80px
              margin-left: 25%
            // &:nth-last-child(1)
            //   margin-left: 10% !important
            //   margin-right: 0

            a img
              width: 100%

      //--------------------------------------------------------------- Share
      &#share
        margin-bottom: 0

        p
          width: auto

        .actions
          a
            display: block
            margin-bottom: 10px

          .Button
            margin: 0
            width: 100%
            padding: 0
