@import "~components/variables"

.framed
  $frame-width = 4px

  &:before, &:after
    content: ""
    position: absolute
    width: 83px
    height: 153px

  &:before
    left: -($frame-width)
    top: -($frame-width)
    border-left: $frame-width solid $yellow
    border-top: @border-left

  &:after
    right: -($frame-width)
    bottom: -($frame-width)
    border-right: $frame-width solid $mob-purple
    border-bottom: @border-right

.Landing
  width: calc(100% + 60px)
  margin: -30px
  position: relative

  .sponsor-tooltip
    max-width: 500px
    font-size: 16px
    padding: 20px 25px
    line-height: 1.4
    pointer-events: auto
    opacity: 1
    background: rgba(black, 0.95)

    a, a:link, a:active, a:visited
      cursor: pointer
      color: $mob-green

    a:hover
      color: darken($mob-green, 20%)

  .LandingHero
    position: relative
    height: 645px
    padding-top: 70px
    background: $mob-green url("~assets/images/landing-hero@2x.jpg") no-repeat center 10px
    background-size: 1366px 632px

    > .content
      height: calc(100% - 30px)

    h1, h2, h3
      text-align: left
      font: normal normal 600 24px/1 Poppins, sans-serif
      font-weight: 600

    h2
      color: $mob-purple
      text-transform: uppercase
      letter-spacing: 1px
    h1
      color: white
      font-size: 64px
    h3
      color: white
      margin-bottom: 60px

    .open-until
      display: block
      margin: 17px 0
      color: white

  .LandingSections
    position: absolute
    width: 670px
    height: 55px
    bottom: 0
    left: $content-side-padding

    ul
      height: 100%
      display: flex
      justify-content: space-between

      li
        height: 100%
        background: transparent no-repeat left top

        &.hackathon
          background-image: url("~assets/images/angle-brackets-yellow.svg")
        &.workshops
          background-image: url("~assets/images/comment-yellow.svg")
        &.schedule
          background-image: url("~assets/images/curly-braces-yellow.svg")

      a, a:link, a:visited, a:active, a:hover
        display: block
        width: 100%
        height: 100%
        line-height: 80px
        color: white
        text-decoration: none
        text-transform: uppercase
        letter-spacing: 3px
        padding-top: 15px
        font: normal normal 600 24px Poppins, sans-serif

  section
    position: relative
    padding-top: 100px

    h1, h2
      color: $mob-green
      font: normal normal 600 48px/1 Poppins, sans-serif
    h2
      color: $dark-grey
      font-size: 24px
      text-transform: uppercase
      letter-spacing: 1px

    p
      width: 550px

    p.coming-soon
      width: auto
      color: $mob-purple
      margin: 70px auto
      font: normal normal 600 24px Poppins, sans-serif
      letter-spacing: 1px
      text-transform: uppercase

    //--------------------------------------------------------------- Thanks
    &#thanks
      h1, h3
        text-align: left

      h3
        color: $dark-grey

      .image
        position: absolute
        top: -170px
        right: 0

    //--------------------------------------------------------------- Hackathon
    &#hackathon
      padding-top: 250px

      h1, h2
        text-align: left

      ul
        font-size: 16px
        color: $dark-grey
        list-style-type: disc
        padding-left: 20px

        li
          margin-bottom: 5px

      .content
        display: flex
        flex-direction: row-reverse
        align-items: center

        .info
          margin-left: auto

      .notify
        margin-top: 5px
        font-size: 12px
        color: $label-grey

      .Button
        margin-top: 30px

      .image
        position: absolute;
        top: -45px;
        left: 75px;

        &:before
          content: ""
          background: url("~assets/images/path_1.svg")
          width: 94px
          height: 102px
          position: absolute
          top: 50px
          left: -130px

        &:after
          content: ""
          background: url("~assets/images/path_2.svg")
          height: 89px
          width: 330px
          position: absolute
          bottom: -95px
          left: 235px

    //--------------------------------------------------------------- Separator
    &#separator
      img
        width: 100%

    //--------------------------------------------------------------- Join Slack
    &#join-slack
      margin: 0 0 20px

      .content
        padding: 60px 0 70px
        max-width: 960px

        p
          text-align: center
          margin: 30px auto

        form
          max-width: 550px
          margin: 0 auto

          .Button.form
            margin-top: 10px

            img
              vertical-align: -19px

    //--------------------------------------------------------------- Get Notified
    &#get-notified
      padding-top: 50px

      p
        margin: 30px auto
        text-align: center

      form
          max-width: 550px
          margin: 0 auto

          input.email
            width: 100%
            margin-right 15px

          button
            margin-top: 10px
    //--------------------------------------------------------------- Sponsors
    &#sponsors
      .content
        position: relative
        min-height: 800px
        padding-right: 470px


      h1, h2
        text-align: left

      h2
        font-size: 18px

      h3
        margin-top: 75px
        text-align: left
        color: $mob-green
        font-size: 16px
        text-transform: uppercase

      .image
        position: absolute
        top: 0
        right: 0

      .sponsors-reasons
        line-height: 1.4
        font-size: 16px
        color: $dark-grey
        list-style-type: disc
        padding-left: 20px

        li
          margin-bottom: 5px

      .sponsors-list
        display: flex
        flex-wrap: wrap
        align-items: center
        margin-top: -30px
        margin-right: -30px

        li
          margin-top: 30px
          margin-right: 30px
          opacity: 0.4

          // &:nth-last-child(3)
          //   margin-left: 12.5%

          a img
            width: 120px

      .signup
        button
          margin-top: 50px

    //--------------------------------------------------------------- Share
    &#share
      text-align: center
      margin-bottom: 50px

      p
        margin: 0 auto
        width: 650px

      .actions
        margin-top: 40px

        .Button
          margin: 0 20px

          &:before
            display: inline-block
            content: ""
            width: 24px
            height: @width
            margin-right: 10px
            background: transparent no-repeat center center
            vertical-align: sub

          &.twitter:before
            background-image: url("~assets/images/twitter-purple.svg")
          &.fb:before
            background-image: url("~assets/images/fb-purple.svg")



