@import "~components/variables"

.CheckIn
  position: relative

  .welcome-pack
    display: inline-block
    width: 25px
    height: @width
    border-radius: 50%

    &.green
      background: $mob-green
    &.orange
      background: $orange
