@import "~components/variables"

.FormSectionHeader
  position: relative
  padding: 25px 10px 7px 6px
  font-size: 18px
  color: $grey

  &:before, &:after
    position: absolute

  &:before
    content: ""
    position: absolute
    width: 100%
    top: 36px
    left: 0
    border-bottom: 1px solid $grey
    zIndex("decrement")

  &:after
    content: attr(data-content)
    left: 0
    padding: 0 10px 0 6px
    background: white
    color: @background
    zIndex("negative")
