@import "~styles/fonts.styl";
@import "~styles/reset.css";

// mixins
$mobile = 960px

mobile()
  condition = 'screen and (max-width: %s), screen and (orientation: landscape) and (max-width: %s)' % ($mobile $mobile)
  @media condition
    {block}

@import "~styles/base.styl";
@import "~styles/typography.styl";

@import "~styles/uikit/button.styl";
@import "~styles/uikit/icon.styl";
