// dimensions
$header-height: 70px;
$header-height--mobile: 55px;

// colors
$black           : #000000;
$white           : #ffffff;
$electric-indigo : #5d00f3;
$coral-reef      : #ff7373;
$vivid-sky-blue  : #00d7ff;
$bright-turquoise: #26e7bc;

:root {
  // colors
  --black : #{$black};
  --black--light: rgba(0, 0, 0, 0.5);
  --white : #{$white};
  // --white--light : rgba(#{$white}, 0.5);
  --white--light : rgba(255, 255, 255, 0.5);

  // base colors
  --electric-indigo: #{$electric-indigo};
  --electric-indigo--hover: #a255ff;
  --electric-indigo--light: rgba(#{$electric-indigo}, 0.2);
  --isabelline: #efefef;
  --outer-space: #484848;

  // complementary colors: 2020 edition
  --vivid-sky-blue: #00d7ff;
  --bright-turquoise: #5d00f3;
  --stil-de-grain-yellow: #f9ca5a;
  --linen: #ffefe4;
  --coral-reef: #{$coral-reef};
  --coral-reef--hover: #ff8c93;
  --coral-reef--light: rgba(#{$coral-reef}, 0.2);
  --razzle-dazzle-rose: #fe38c7;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root, #portals {
  height: 100%;
}

// FIXME: temporary
section {
  padding: 30px;
  margin-bottom: 30px;

  &.black { background: $black; }
}

.desktop { display: initial };
.mobile { display: none; }
@include mobile {
  .desktop { display: none };
  .mobile { display: initial; }
}
