*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #portals {
  height: 100vh;
}

#root {
  background: #202020;
  min-height: 100vh;
}

.desktop { display: initial };
.mobile { display: none; }
@include mobile {
  .desktop { display: none };
  .mobile { display: initial; }
}
