$label-grey: #8c9fa6;
$border-grey: #d0d8db;
$error-red: #d9534f;

form.form {
  max-width: 420px;
  margin: 0 auto 30px;

  button + button {
    margin: 12px 0 0;
  }
}

.form__field {
  position: relative;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 45px;
  }
}

.form__field__error,
.form__field__input,
.form__field__label {
  display: block;
  text-align: left;
}

.form__field__label,
.form__field__input {
  width: 100%;
}

.form__field__label {
  color: $label-grey;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.form__field__input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $border-grey;

  &--error {
    border-color: $error-red;
  }
}

.form__field__error {
  position:  absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  color: $error-red;
}

.form__field__select {
  display: inline-block;
  min-width: 140px;
  height: 50px;
  margin: 5px 0;
  border: 1px solid $grey;
  background: none;
  border-radius: 3px;
  text-indent: 6px;
  width: 100%;
}

.form__field--checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .form__field__input,
  .form__field__label {
    display: inline-block;
    width: auto;
  }

  .form__field__input {
    order: 1;
    margin-right: 5px;
  }

  .form__field__label {
    order: 2;
  }

  .form__field__error {
    order: 3;
    position: relative;
    flex: 0 0 100%;
  }
}

