@function gridArea($item: "", $count: 1) {
  $string: "";

  @for $i from 1 through $count {
    @if $i == $count {
      $string: $string + $item;
    }
    @else {
      $string: $string + $item + " ";
    }
  }

  @return $string;
}
