.icon
  display: inline-block
  height: 20px
  min-width: 22px
  background: transparent no-repeat center left
  background-size: @height @height
  vertical-align: -3px
  border: none
  appearance: none

  &:not(:empty)
    padding-left: 20px

.icon--small
  min-width: 12px
  height: 16px
  background-size: @height @height

  &:not(:empty)
    padding-left: 17px

.icon--add                     { background-image: url("~assets/images/icons/add.svg") }
.icon--add-circle              { background-image: url("~assets/images/icons/add-circle.svg") }
.icon--arrow-downward          { background-image: url("~assets/images/icons/arrow-downward.svg") }
.icon--arrow-drop-down         { background-image: url("~assets/images/icons/arrow-drop-down.svg") }
.icon--arrow-drop-up           { background-image: url("~assets/images/icons/arrow-drop-up.svg") }
.icon--arrow-upward            { background-image: url("~assets/images/icons/arrow-upward.svg") }
.icon--cancel                  { background-image: url("~assets/images/icons/cancel.svg") }
.icon--check                   { background-image: url("~assets/images/icons/check.svg") }
.icon--check-box               { background-image: url("~assets/images/icons/check-box.svg") }
.icon--check-box-empty         { background-image: url("~assets/images/icons/check-box-empty.svg") }
.icon--check-box-indeterminate { background-image: url("~assets/images/icons/check-box-indeterminate.svg") }
.icon--check-circle            { background-image: url("~assets/images/icons/check-circle.svg") }
.icon--close                   { background-image: url("~assets/images/icons/close.svg") }
.icon--code                    { background-image: url("~assets/images/icons/code.svg") }
.icon--dashboard               { background-image: url("~assets/images/icons/dashboard.svg") }
.icon--delete                  { background-image: url("~assets/images/icons/delete.svg") }
.icon--delete-forever          { background-image: url("~assets/images/icons/delete-forever.svg") }
.icon--edit                    { background-image: url("~assets/images/icons/edit.svg") }
.icon--email                   { background-image: url("~assets/images/icons/email.svg") }
.icon--error                   { background-image: url("~assets/images/icons/error.svg") }
.icon--expand-less             { background-image: url("~assets/images/icons/expand-less.svg") }
.icon--expand-more             { background-image: url("~assets/images/icons/expand-more.svg") }
.icon--fast-forward            { background-image: url("~assets/images/icons/fast-forward.svg"); }
.icon--fast-rewind             { background-image: url("~assets/images/icons/fast-rewind.svg"); }
.icon--filter-list             { background-image: url("~assets/images/icons/filter-list.svg") }
.icon--folder                  { background-image: url("~assets/images/icons/folder.svg") }
.icon--github                  { background-image: url("~assets/images/icons/github.svg") }
.icon--group                   { background-image: url("~assets/images/icons/group.svg") }
.icon--group-add               { background-image: url("~assets/images/icons/group-add.svg") }
.icon--how-to-vote             { background-image: url("~assets/images/icons/how-to-vote.svg") }
.icon--memory                  { background-image: url("~assets/images/icons/memory.svg") }
.icon--menu                    { background-image: url("~assets/images/icons/menu.svg") }
.icon--pause                   { background-image: url("~assets/images/icons/pause.svg"); }
.icon--person                  { background-image: url("~assets/images/icons/person.svg") }
.icon--play                    { background-image: url("~assets/images/icons/play.svg"); }
.icon--radio-button-checked    { background-image: url("~assets/images/icons/radio-button-checked.svg") }
.icon--radio-button-unchecked  { background-image: url("~assets/images/icons/radio-button-unchecked.svg") }
.icon--save                    { background-image: url("~assets/images/icons/save.svg") }
.icon--save                    { background-image: url("~assets/images/icons/save.svg"); }
.icon--school                  { background-image: url("~assets/images/icons/school.svg") }
.icon--search                  { background-image: url("~assets/images/icons/search.svg") }
.icon--share                   { background-image: url("~assets/images/icons/share.svg") }
.icon--speaker-group           { background-image: url("~assets/images/icons/speaker-group.svg") }
.icon--star                    { background-image: url("~assets/images/icons/star.svg") }
.icon--star-border             { background-image: url("~assets/images/icons/star-border.svg") }
.icon--stop                    { background-image: url("~assets/images/icons/stop.svg"); }
.icon--thumb-down              { background-image: url("~assets/images/icons/thumb-down.svg") }
.icon--thumb-up                { background-image: url("~assets/images/icons/thumb-up.svg") }
.icon--verified-user           { background-image: url("~assets/images/icons/verified-user.svg") }
.icon--visibility              { background-image: url("~assets/images/icons/visibility.svg") }
.icon--visibility-off          { background-image: url("~assets/images/icons/visibility-off.svg") }
.icon--work                    { background-image: url("~assets/images/icons/work.svg") }
