.layout {
  @extend %grid;

  position: relative;
  grid-template-rows: 70px auto 390px;
  grid-template-areas:
    ". #{gridArea("hd", 12)} ."
    ". #{gridArea("mn", 12)} ."
    ". #{gridArea("ft", 12)} .";

  max-width: $max-width;
  margin: 0 auto;
  height: 100%;

  @include mobile() {
    width: 100vw;
    margin: 0 auto;
    grid-template-rows: $header-height--mobile auto auto;
    grid-template-areas:
      "hd"
      "mn"
      "ft";
  }
}

.layout__content {
  grid-area: mn;
}

section {
  padding: 80px 30px;

  &.center {
    text-align: center;
  }

  button + button { margin-left: 12px; }

  @include backgroundColors();

  @include mobile() {
    padding: 40px 16px;

    button + button { margin-left: 0; margin-top: 12px; }
  }
}
