.layout {
  position: relative;
  display: grid;
  grid-template-columns: repeat($column-count, $column-width);
  grid-column-gap: $column-gap;
  grid-template-rows: 70px auto 390px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft ft ft ft ft";

  width: ($column-count * $column-width) + (($column-count - 1) * $column-gap);
  margin: 0 auto;
  height: 100%;

  @include mobile {
    width: 100vw;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 55px auto auto;
    grid-column-gap: 0;
    grid-template-areas:
      "hd"
      "mn"
      "ft";
  }
}

.layout__content {
  grid-area: mn;

  @include mobile {
    padding: 0 16px;
  }
}
