.layout {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px auto 390px;
  grid-template-areas:
    "hd"
    "mn"
    "ft";

  max-width: $max-width;
  margin: 0 auto;
  min-height: 100vh;

  @include mobile() {
    width: 100vw;
    margin: 0 auto;
    grid-template-rows: $header-height--mobile auto auto;
  }
}

.layout__content {
  grid-area: mn;
}

section {
  padding: 80px 30px;

  &:only-child { height: 100%; }

  &.center {
    text-align: center;
  }

  button + button { margin-left: 12px; }

  @include backgroundColors();

  @include mobile() {
    padding: 40px 16px;

    button + button { margin-left: 0; margin-top: 12px; }
  }
}
