@import "~styles/variables"

//
// media queries
mobile()
  @media screen and (max-width: 960px), screen and (orientation: landscape) and (max-width: 960px)
    {block}

mobile-small()
  @media screen and (max-width: 320px)
    {block}

tablet()
  @media screen and (max-width: $content-width)
    {block}

desktop()
  @media screen and (min-width: ($content-width + 1px))
    {block}
