// ---------------------------------------------------------------------------- Media Queries

@mixin desktopNarrow {
  @media (max-width: 1110px) { @content; }
}

@mixin mobile {
  @media (max-width: #{$mobile}) { @content; }
}

@mixin tablet {
  @media (min-width: 640px) and (max-width: #{$mobile}) { @content; }
}

// ---------------------------------------------------------------------------- z index management

$z-index: (
  "negative"         : -1,
  "base"             : 0,
  "default"          : 1,
  "prize-navigation" : 10,
  "header"           : 100,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

// ---------------------------------------------------------------------------- Buttons / Links

@mixin buttonColors($backgroundColor, $borderColor, $textColor, $hoverBackgroundColor, $hoverBorderColor) {
  background: $backgroundColor;
  border: 1px solid $borderColor;
  color: $textColor;

  &:hover {
    background: $hoverBackgroundColor;
    border: 1px solid $hoverBorderColor;
  }
}

@mixin buttonChevron($w, $h, $fill) {
  &:after {
    content: "";
    display: inline-block;
    background: transparent no-repeat url("~assets/images/chevron.svg") center center;
    -svg-mixer-fill: $fill;
    width: $w;
    height: $h;
    margin-left: 8px;
    background-size: $w $h;
    transition: transform;
  }

  &:hover:after {
    animation: chevron-animation 500ms;
  }
}

@keyframes chevron-animation {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(4px, 0); }
  100% { transform: translate(0, 0); }
}

// ---------------------------------------------------------------------------- Typography

@mixin zigZag($w, $h, $fill) {
  &:after {
    content: "";
    display: block;
    margin-top: $h;
    width: $w;
    height: $h;
    background: transparent url("~assets/images/zigzag.svg") no-repeat center center;
    background-size: $w $h;
    -svg-mixer-fill: $fill;
  }
}

// ---------------------------------------------------------------------------- Squares w/ full size background

@mixin squareWithBg($diameter) {
  width: $diameter;
  height: $diameter;
  background-size: $diameter $diameter;
}

// ---------------------------------------------------------------------------- Sloped Backgrounds

@mixin slopedBackground($color, $topLeft: 0px, $topRight: 0px, $bottomRight: 0px, $bottomLeft: 0px) {
  position: relative;
  z-index: z-index("default");

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z-index("negative");
    background: $color;
    clip-path: polygon(
      0 #{$topLeft},
      100% #{$topRight},
      100% calc(100% - #{$bottomRight}),
      0 calc(100% - #{$bottomLeft})
    );
  }
}

// ---------------------------------------------------------------------------- Colors

$colors: (
  "black": $black,
  "white": $white,
  "beige": $linen,
  "purple": $electric-indigo,
  "blue": $vivid-sky-blue,
  "green": $bright-turquoise,
  "gray": $outer-space,
  "yellow": $stil-de-grain-yellow,
  "pink": $razzle-dazzle-rose,
  "red": $coral-reef
);

$link-colors: (
  "white": "white",
  "purple": "electric-indigo",
  "gray": "outer-space",
  "black": "black"
);

@mixin linkColors() {
  @each $cx, $color in $link-colors {
    &.link-color--#{$cx} {
      color: var(--#{$color});

      &:hover { color: var(--#{$color}--hover) }

      &:not(.external) {
        @include buttonChevron(5px, 8px, map-get($colors, $cx));
      }
    }
  }
}

@mixin overrideLinkColors($normal, $hover) {
  color: $normal;
  &:hover { color: $hover; }
}

@mixin textColors($zigZag: false) {
  @each $cx, $color in $colors {
    &.text-color--#{$cx} {
      color: $color;

      @if $zigZag {
        @include zigZag(55px, 15px, $color);
        @include mobile {
          @include zigZag(40px, 11px, $color);
        }
      }
    }
  }
}

@mixin backgroundColors() {
  @each $cx, $color in $colors {
    &.background--#{$cx} {
      background-color: $color;
    }
  }
}
