@mixin zigZag($w, $h, $fill) {
  &:after {
    content: "";
    display: block;
    margin-top: $h;
    width: $w;
    height: $h;
    background: transparent url("~assets/images/zigzag.svg") no-repeat center center;
    background-size: $w $h;
    -svg-mixer-fill: $fill;
  }
}

html, body {
  font-size: 16px;
  line-height: 1;
}

h1 {
  font: 2.75rem/3.25rem Bungee; // 44px/52px
  @include zigZag(55px, 15px, $black);

  @include mobile {
    font: 2rem/2.125rem Bungee; // 32px/34px
    @include zigZag(40px, 11px, $black);
  }
}

h2 {
  font: 600 2.75rem/3.25rem "Open Sans", sans-serif;                       // 44px/52px
  @include mobile { font: 600 1.625rem/2.375rem "Open Sans", sans-serif; } // 26px/38px
}

h3 {
  font: 1.75rem/2.5rem "Open Sans", sans-serif;                   // 28px/40px
  @include mobile { font: 1.25rem/2rem "Open Sans", sans-serif; } // 20px/32px
}

h4 {
  font: 1.375rem/1rem Bungee; // 22px/16px
}

p {
  font: 1.125rem/1.875rem "Open Sans", sans-serif;                 // 18px/30px
  @include mobile { font: 1rem/1.625rem "Open Sans", sans-serif; } // 16px/26px

  &.large {
    font: 1.375rem/2.125rem "Open Sans", sans-serif;                    // 22px/34px
    @include mobile { font: 1.125rem/1.75rem "Open Sans", sans-serif; } // 18px/28px
  }
}

figure figcaption {
  font: 0.875rem/1.625rem "Open Sans", sans-serif;                     // 14px/26px
  @include mobile { font: 0.875rem/1.625rem "Open Sans", sans-serif; } // 14px/26px
}

span.tag {
  font: 700 1.125rem/1.875rem "Open Sans", sans-serif;                     // 14px/26px
  @include mobile { font: 700 0.875rem/1.875rem "Open Sans", sans-serif; } // 14px/26px
}
