//
// Dimensions
$navbar-height = 100px
$content-width = 1280px
$content-side-padding = 50px
$footer-height = 245px
// $footer-margin-top = 50px

//
// Colours

$purple-dark = #2c1b51
$purple-bright = #5d05ef
$purple-muted = #6051c1
$cyan = #62c7d5
$cyan-dark = #65d1dd
$pink = #c6126b
$orange = #f07324
$yellow = #fee230
$lavender = #be55fa

// $yellow = #ffcc00
$red = #d9534f
$teal = #46ffc6
// $orange = #f17105

$darker-grey = #414361
$dark-grey = #637682
$light-grey = #d0d8db
$label-grey = #8c9fa6
$text-grey = #2f4858

$mob-purple = #5d00f3
$mob-green = #67d3b2
$mob-red = #ff5b72

$hr-border = #cecece

$button-primary = $mob-purple // #0275d8
$button-success = $mob-green  // #5cb85c
$button-warning = #f0ad4e
$button-danger = $mob-red     // #d9534f
$button-disabled = #e0e0e0

//
$page-transition-ms = 150ms

// z-index management
zIndices = {
  "decrement": -10,
  "negative": -1,
  "base": 0,
  "increment": 1,
  "jump": 10,
  "navbar": 100
  "account-menu": 1000,
  "notification": 2000,
  "modal": 10000,
}
zIndex(id)
  z-index: zIndices[id]

$asset-host = "https://s3.eu-central-1.amazonaws.com/make-or-break-static-assets/site-assets"
