@import "~components/variables"

.Workshop
  position: relative

  h1, h2, h3, h4, h5, h6
    text-align: left

  p
    font-size: 16px
    color: $text-grey

  ul
    list-style: disc
    padding-left: 17px

    li
      font-size: 16px
      color: $text-grey
