@import "~components/variables"

*, *:before, *:after
  box-sizing: border-box

html, body, #app
  width: 100vw
  height: 100vh
  font-family: sans-serif
  color: $text-grey

#app
  overflow-x: hidden
  overflow-y: auto

h1, h2, h3
  font: normal normal 600 32px Rokkitt, serif
  text-align: center
  margin: 20px auto
h2
  font-size: 28px
h3
  font-size: 22px

h4, h5, h6
  font: normal normal 300 18px sans-serif
  text-align: center
  margin: 15px auto
  color: $label-grey
h5
  font-size: 16px
h6
  font-size: 14px

p
  margin: 0
  padding: 0

a, a:link, a:active, a:visited
  color: $mob-purple

a:hover
  color: darken($mob-purple, 20%)

.App
  width: 100vw
  position: relative
  top: $navbar-height
  min-height: "calc(100vh - %s)" % $navbar-height
  padding-bottom: $footer-height + $footer-margin-top

  .AppContent
    width: 100vw
    height: 100%
    padding: 30px
    display: flex
    align-items: flex-start
    justify-content: center

  .content
    position: relative
    margin: 0 auto
    width: $content-width
    padding: 0 $content-side-padding

//
// Utility classes
.clearfix
  &:after
    content: ""
    display: table
    clear: both
