@import "~components/variables"

.Team
  width: 500px

.TeamMembers
  display: block

  &.static
    label
      margin-bottom: 20px

  &.editable
    margin-top: 50px

    .Invites, .Members
      list-style: none
      padding: 0
    
    .Invite, .Member
      padding: 5px 0
      margin: 0

      .Button.fakelink
        float: right
