@import "~components/variables"

.Team .SortableList ul li
.SortableListItem
  position: relative

  &:after
    content: "☰"
    position: absolute
    right: 15px
    top: 10px
    color: rgba(white, 0.7)
    font-size: 20px
    cursor: grab

  &.dragging
    cursor: grabbing

  &.hardcore
    background: $mob-purple
  &.useful
    background: $mob-green
  &.funny
    background: $orange

.Team
  width: 500px

  .prize-order-preferences
    padding-bottom: 10px

    hr
      margin-bottom: 50px

.TeamMembers
  display: block

  .Members .Member,
  .Invites .Invite
    position: relative
    height: 70px
    display: flex
    align-items: center
    justify-content: flex-start

  &.static
    label
      margin-bottom: 20px

    .Members
      margin: 0 0 20px

  &.editable
    margin-top: 50px

    .Invites, .Members
      list-style: none
      padding: 0
      margin-bottom: 20px;
    
    .Invite, .Member
      padding: 5px 0
      margin: 0

      .Button
        position: absolute
        right: 0
        top: 20px
        width: 110px
