@import "~components/mixins"

+mobile()
  .Team
    width: 100%

    h2
      justify-content: space-between
      align-items: flex-start

      .title, .actions
        display: flex
        flex-direction: column

      .status
        font-size: 12px
        margin-left: 0

      .actions
        text-align: right
        .Button
          margin-left: 0
          margin-bottom: 5px

  .TeamMembers
    &.editable
      form
        .Select
          width: 48%
        .Button
          width: 48%
          margin-left: 4%
          font-size: 14px
          padding-left: 10px
          padding-right: @padding-left
