@import "~components/variables"

.UserOnboarding
  position: relative
  width: 780px

  &.name, &.team, &.invites
    margin: 0 -20px // compensate for TabPanel padding
    padding: 0 100px

  form
    width: 360px
    margin: 30px auto

  .Panel
    border: none

    .Button ~ .Button
      margin-top: 10px
