@import "~components/variables"

.AccountSettings
  width: 100%
  padding-right: 50px

  h2
    text-align: left
    display: flex
    align-items: center

    span
      color: $text-grey

    .Button:first-of-type
      margin-left: auto

  form
    .empty, .empty > *
      display: none
    input, textarea, select
      border-color: transparent
    select
      appearance: none
      padding-left: 8px

    [type=submit]
      display: none

    &.editing
      .empty, .empty > *
        display: initial
      input, textarea, select
        border-color: $light-grey
      select
        appearance: menulist

