@import "~components/mixins"

+mobile()
  .Navbar
    &.landing .Logo
    &.logged-out .Logo
      display: inline-block
      background: transparent
      position: relative
      margin: 0
      padding: 0
      left: 20px

      a
        display: block

      img
        height: 18px

    .content
      padding: 0 10px
      justify-content: space-between
      align-items: center

      > *
        margin-right: 0

      .Button
        padding: 0 10px

    .mobile-menu
      width: 48px
      height: 48px
      background: transparent url("~assets/images/hamburger-menu.svg") no-repeat center center
      cursor: pointer

    .Logo
      display: none

    .AccountMenu
      margin-right: 10px
      zIndex("base")

