@import "~components/variables"

.Navbar
  position: fixed
  top: 0
  width: 100%
  height: $navbar-height
  background: $mob-purple
  color: white
  zIndex("navbar")

  .content
    height: 100%
    display: flex
    justify-content: flex-end
    align-items: center

    > *
      margin-right: 20px

  .Logo
    margin: 0
    padding: 0
    position: absolute
    top: 0
    left: $content-side-padding

.AccountMenuToggle
  cursor: pointer
