@import "~components/variables"

.Navbar
  position: fixed
  top: 0
  width: 100%
  height: $navbar-height
  background: white
  border-bottom: 1px solid $light-grey

.AccountMenuToggle
  position: absolute
  top: 9px
  right: 30px
  cursor: pointer
