@import "~components/variables"

.Navbar
  position: relative
  width: 100%
  height: $navbar-height
  background: $purple-dark
  color: white
  box-shadow: 0 1px 6px 2px rgba(black, 0.4)
  zIndex("navbar")
  transition: box-shadow 50ms linear

  &.landing
    box-shadow: none

  .content
    height: 100%
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 0

    > *
      margin-right: 50px

  .Logo
    margin: 0
    position: absolute
    bottom: 0
    padding: 0 0 25px
    left: $content-side-padding
    transition:
      background-color 50ms linear,
      padding $page-transition-ms ease-in-out

  &.landing .Logo
    bottom: 0
    top: auto
    padding: 10px 30px 5px
    background: $purple-bright
    transition:
      padding $page-transition-ms ease-out,
      background-color $page-transition-ms ease-in-out $page-transition-ms

.AccountMenuToggle
  cursor: pointer
