@import "~components/variables"

$diameter = 20px

.Spinner
  display: inline-block
  width: $diameter
  height: $diameter
  border: 2px solid rgba(white, 0.4)
  border-top-color: white
  border-radius: 100%
  animation: spin 1s infinite linear
  vertical-align: middle

@keyframes spin {
  0%   { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
