//
// Dimensions
$navbar-height = 60px

//
// Colours
$yellow = #ffcc00
$dark-grey = #333
$grey = #888
$light-grey = #ccc
$red = #d9534f

$button-primary = #0275d8
$button-success = #5cb85c
$button-warning = #f0ad4e
$button-danger = #d9534f

// z-index management
zIndices = {
  "negative": -1,
  "base": 0,
  "increment": 1,
  "jump": 10,
  "account-menu": 100,
}
zIndex(id)
  z-index: zIndices[id]
