@import "~components/variables"

.Invitation
  position: relative
  margin-top: 20px
  border-bottom: 1px solid $light-grey

  &:last-of-type
    border-bottom: none

  .Actions
    width: 80%
    margin: 0 auto
    padding: 20px

    .Button
      width: calc(50% - 10px)
      margin: 0 5px
