@import "~components/variables"

.Invitation
  position: relative
  min-height: 80px
  max-width: 640px
  padding-right: 120px
  display: flex
  align-items: center

  .Actions
    position: absolute
    right: 0
    top: 0
    width: 100px
    height: 100%
    display: flex
    flex-direction: column
    align-items: center

    .Button
      width: 100%
      margin: 5px
