@import "~components/variables"

html, body, #app
  width: 100vw
  height: 100vh

.AppLoader
  $height = 30vh

  position: relative
  width: 100%
  height: 100%
  background: $dark-grey
  display: flex
  align-items: center
  justify-content: center

  &:before
    content: ""
    height: $height
    width: $height
    border: ($height / 10) solid rgba(white, 0.2)
    border-top-color: rgba(white, 0.6)
    border-radius: 50%
    animation: rotate 800ms ease-in-out infinite

  &:after
    position: absolute
    content: "Loading"
    color: rgba(white, 0.6)
    font-size: ($height / 8)
    text-transform: uppercase
    letter-spacing: 0.05em

@keyframes rotate {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
}
