@import "~components/variables"

.Toaster

  .Toast
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    max-width: 240px
    padding: 15px 40px
    border-radius: 50px
    box-shadow: 0 0 5px 1px rgba(black, 0.2)
    background: rgba($mob-purple, 0.8)
    color: white
    text-align: center
    font-size: 18px
    pointer-events: none
    transition: all 0.2s ease-in-out
