@import "~components/variables"

.AdminWorkshops
  position: relative
  width: 1280px

  form, .preview
    float: left
    width: 50%
    margin: 0

  .preview
    min-height: 300px
    padding: 0 10px
    margin-top: -84px

  h2, h3, h4, h5, h6
    text-align: left
