@import "~components/variables"

.AdminDashboard
  position: relative

  h1
    color: $mob-purple

  .Stats
    display: flex
    justify-content: space-around
    align-items: stretch
    padding: 25px

    .section
      width: 30%
      padding: 0 30px
      border-left: 2px solid $mob-purple
      font-size: 20px
      line-height: 1.5

      h2
        margin-top: 0
        text-align: left

      .number
        display: inline-block
        color: $mob-purple
        font-size: 28px
        font-weight: 600
        width: 35px
        margin-right: 5px
        text-align: right
